li {
  list-style-type: none;
}
body {
  margin: 0;
  font-family: roboto;
}
.grid-container {
  display: grid;
  grid-template-columns: 16% 1fr 0.3fr;
  grid-auto-rows: max-content;
}
.header-container {
  grid-area: 1/2/1/4;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.body-container {
  grid-area: 2/2/4/3;
  background-color: #f0f0f0;
  padding-left: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  grid-auto-rows: minmax(0, auto);
  padding: 2%;
}

.side-bar {
  grid-area: 1/1/4/2;
  background-color: #1c91df;
  color: white;
  display: grid;
  height: max(100vh, auto);
  position: sticky;
}
.btn {
  background-color: #1c91df;
  color: white;
  border: none;
  border-radius: 11px;
  padding: 10px 5px 10px 5px;
  width: 80px;
}
.bell-icon {
  padding-left: 5vw;
  width: 30px;
  height: 30px;
}
.search-icon {
  width: 40px;
  height: 40px;
}
.dp {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.intro-heading {
  font-weight: bold;
  height: max-content;
}
.dp-1 {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  padding-right: 10px;
}
.search-bar {
  width: 50vw;
  height: 30px;
  background-color: lightgray;
  border-radius: 10px;
}
.header-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  padding: 2%;
  align-items: center;
  gap: 2%;
}
.intro {
  padding-left: 10%;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
}
.nav-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.announcement-cointainer {
  grid-area: 2/3/2/4;
  background-color: #f0f0f0;
  padding-right: 10%;
  align-items: center;
}
.trending-cointainer {
  grid-area: 3/3/3/4;
  background-color: #f0f0f0;
  padding-right: 10%;
  padding-bottom: 10%;
}
h1 {
  font-size: 1.2em;
}
.menu-item {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;

  gap: 2%;
}
.dashboard-logo {
  align-items: center;
  justify-content: center;
}
.article-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: white;
  padding: 2%;
  transition: 0.2s ease;
}
.article-container :hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.announ-body,
.trend-body {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: white;
  padding: 3%;
}
.para {
  font-size: 0.9em;
  color: rgb(87, 87, 87);
}
