li {
  list-style-type: none;
}
body {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 16% 1fr;
}
.header-container {
  grid-area: 1/2/1/3;
}
.body-container {
  grid-area: 2/2/2/3;
  background-color: #f0f0f0;
}
.side-bar {
  grid-area: 1/1/3/2;
  background-color: #1c91df;
  color: white;
}
